<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置-->
<configuration>
    <!--属性-->
    <properties resource="jdbc.properties"/>
    <!--扫描-->
    <typeAliases>
        <package name="myBatisA.pojo"/>
    </typeAliases>
    <!--连接-->
    <environments default="development">
        <environment id="development">
            <!--事务处理方式-->
            <transactionManager type="JDBC"/>
            <!--数据池核心信息-->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--映射-->
    <mappers>
        <package name="myBatisA.mapper"/>
    </mappers>
</configuration>